<form ng-submit="postAd()" name="formPost">
    <div class="form-group">
        <label for="title">Title:</lable>
        <input ng-model="title" class="form-control" id="title" name="title" type="text" />
    </div>
    <div class="form-group">
        <label for="description:">Description:</lable>
        <textarea ng-model="description" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="contact">Contact:</lable>
        <input ng-model="contact" class="form-control" id="contact" name="contact" type="text" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit"/>
    </div>
</form>
