.container-fluid {
    padding: 0 15px;
}
.container-fluid .row {
    margin: 0;
}
.navbar-inverse {
  background-color: #172841;
  border-color: #80bb01;
  border-width: 0 0 5px 0;
}

/*Sign Up form styles*/

.register-form .row{
	padding-bottom: 10px;
}
.register-form label{
 	  font-size: 12px;
    width: 30%;
 }
 .register-form input[type="text"],.register-form input[type="password"],.register-form input[type="email"]{
 	width: 65%;
 }
.invalid{
	border: 1px solid #FF0000;
}
.error-message{
	color: #FF0000;
	display:inline;
  font-size:10px;
}
.primary-button{
	background-color: #101010;
  border: 2px solid #80BB01;
  color: #777777;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  margin-right:15px;
}
.register-form button[type="submit"]:hover,.register-form button[type="submit"]:focus{
	color:#ffffff;
	background-color:#000000;
}
h2{
  font-size: 20px;
}
@media screen and (min-width: 600px){

  /*Sign Up form styles*/

  .register-form label{
    width: 20%;
    font-size:13px;
   }
  .register-form input[type="text"],.register-form input[type="password"],.register-form input[type="email"]{
    width: 40%;
   }
  .error-message{
    font-size:14px;
  }
  .primary-button{
    font-size:14px;
    padding: 5px 35px;
  }
}
@media screen and (min-width:992px){

  /*Sign Up form styles*/

  .register-form label{
    width: 12%;
    font-size:14px;
   }
   .register-form input[type="text"],.register-form input[type="password"],.register-form input[type="email"]{
    width: 20%;
   }
   h2{
    font-size:30px
   }
}